﻿/* Ajustar alinhamento de imagens  */

.titulo{
	background-color:transparent;
	border:10px;
	border-color:#FFFFFF;
	border-style:solid;
	font-family:Arial;
	font-size:25px;
	text-align:center;
}

#vendas .m3{
	display:inline-block;
	padding-right:1%;
}

#vendas .m4{
	display:inline-block;
	padding-right:1%;
}

#vendas .m5{
	display:inline-block;
}
h1 {
	color: #FFFFFF;
}
body{
	background-color:#1C86EE;
	background-image: url("fundo.jpg");
	background-size:100% 100%;
	margin:center;
	padding-left:15%;
	position: absolute;
}

img {
	border:5px solid black;
}

#menu ul {
	padding:0px;
	margin:0px;
	background-color:#EDEDED;
	list-style:none;
}

#menu ul li { 
	display: inline; 
}

#menu ul li a {
	padding: 2px 10px;
	display: inline-block;
	/* visual do link */
	background-color:transparent;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}

h1{ font-size:25px; }

h2{ font-size:20px; }

h3{ font-size:15px; }

